<a href="https://colab.research.google.com/github/316141725/daa_2021_1/blob/master/21Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ejemplo1( n ):
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
ejemplo1( 99999 )
"4"

In [1]:
def ejemplo2( n ):
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    return contador

ejemplo2( 20 )
"1+n^2"

400

In [ ]:
def ejemplo3( n ): # n=4
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3
        y = x - n   # y = 4
    return y

ejemplo3(1000000000)
"102"

In [ ]:
def ejemplo4( n ):
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    return z

ejemplo4(9)
"3"

In [ ]:
def ejemplo5( x ):
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    return n

ejemplo5(10)
"1+x"

In [ ]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada in range(100,1100,100):
  ejemplo6(entrada)
"2+n^3"

Tiempo transcurrido: 0.1271638870 segundos.
Tiempo transcurrido: 1.0908987522 segundos.
Tiempo transcurrido: 3.6276271343 segundos.
Tiempo transcurrido: 8.7452423573 segundos.
Tiempo transcurrido: 17.7762122154 segundos.
Tiempo transcurrido: 32.6387307644 segundos.
Tiempo transcurrido: 51.2514595985 segundos.